.header-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.header-container > a > h1 {
  font-size: 3.3rem;
  margin-bottom: 0;
}

.header-container > h2 {
  font-size: 1.2rem;
  margin-top: 0;
}