.productitem{
  width: clamp(150px, 200px, 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 15px, 20px);
  border: 1px solid black;
  text-align: center;
}

#amount{
  width: 100px;
  font-size: 1rem;
}

.button{
  width: 100px;
}
