<div class="productitem">
  <a [routerLink]="['/products']" [queryParams]="{ id: product.id }">
    <img src="{{ product.url }}" alt="{{ product.name }}" width="100%" />
    <h3>{{ product.name }}</h3>
    <p>{{ product.price }} EUR</p>
  </a>
  <select id="amount" name="amount" [(ngModel)]="quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button class="button" (click)="submitToCart()">Add to Cart</button>
</div>
