<div class="cart">
  <div class="cart__products">
    <div class="productcard">
      <img
        src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
        alt=""
      />
      <div class="productcard__details">
        <h4>Headphones</h4>
        <div>9.99 EUR</div>
        <div class="productcard__details--price">
          Amount: <input type="text" />
        </div>
      </div>
    </div>
    <div>Total: $$$</div>
  </div>

  <form class="cart__buyform">
    <label for="fullname">Full name</label>
    <input type="text" id="fullname" />
    <label for="fullname">Address</label>
    <input type="text" id="fullname" />
    <label for="fullname">Credit Card Number</label>
    <input type="text" id="fullname" />
    <button type="submit">Submit</button>
  </form>
</div>
