/* You can add global styles to this file, and also import other style files */
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button{
  margin: 10px;
  background: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white
}
button:active, :focus{
  outline: none;
}